form{
    margin: 40px;
}

#container{
    display: flex;
}

.input-birthday{
    width:65px;
}

/* css for show id file  */

span{
    display: block;
}
#show-id{
    margin: 40px;
    width:342px;
    height: 229px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url("./flower1.png");
    background-repeat: no-repeat;
    background-position: 120px 70px;
   
    
}


.top{
    border-radius: 10px 10px 0px 0px;
    height: 39px;
    text-align: center;
    margin-bottom: 3px;
}
.span-your-name{
    font-weight: 600;

}

.head-span{
    padding:0px;
    margin:0px;
    font-weight: bold;
    width: 340px;
    height: 18px;
    
}

.top-span{
    padding:0px;
    height: 15px;
}



.main-show{
    display:flex;
}

.left-side {
    margin-left:3px;
    width: 200px;
}

.span-address{
    display:block;
    margin-top: 30px;
    letter-spacing: -1px;
    font-weight: 550;
    line-height: 17px;
    
}
.span-name{
    font-size: 10px;
    float: right;
    margin-right: 5px;
}
.span-name1{
    margin-top:5px;
    font-size: 11px;
    letter-spacing: -1px;
} 
.position-detail{
    position: fixed;
    top:170px;
}

.span-class-no{
    font-weight: bold;
    font-size: 12px;
    line-height: 7px;
    letter-spacing: 1px;
}
.span-exp-card{
    font-weight: bold;
    font-size: 12px;
    line-height: 7px;
    letter-spacing: -0.5px;
    float: right;
    margin-right: 5px;
}

.rhs-date{
    float:left;    
    float: right;
    text-align: center;
    width: 95px;
    height:25px;
    background-color: #9ab6e2;
    
}
.photo{
    float:right;
   margin-right:4px;
    width: 90px;
    height: 130px;
    background-color:#e5e7ea;
}

.right-side{
    margin-left: 33px;
    float:right;
    max-width:100px;
}

.date-birth{
    position:fixed;
    top: 235px;
    margin-left:145px;
}
.birth-detail{
    font-weight: bold;
    font-size: 12px;
    line-height: 7px;
    

}

.span-birth{
    font-size: 11px;
    letter-spacing: -1px;
    
}