form{
    margin: 40px;
}

#container{
    display: flex;
}



/* css for show id file  */

span{
    display: block;
}
#show-id{
    margin: 40px;
    width:342px;
    height: 229px;
    border: 1px solid black;
    
}

.top{
    height: 39px;
    text-align: center;
}

.head-span{
    display:block;
    padding:0px;
    margin:0px;
    font-weight: bold;
    width: 340px;
    height: 18px;
    
}

.top-span{
    display:block;
    padding:0px;
    height: 15px;
}



.main-show{
    display:flex;
}

.left-side {
    margin-left:2px;
    width: 200px;
}

.span-address{
    display:block;
    margin-top: 30px;
    
}
.span-name{
    font-size: 10px;
    font-weight: normal;
}
.span-exp-card{
    font-weight: bold;
    font-size: 12px;
    line-height: 7px;
}

.rhs-date{
    float:left;    
    float: right;
    text-align: center;
    width: 95px;
    height:28px;
    background-color: #9ab6e2;
    
}
.photo{
    float:right;
   margin-right:4px;
    width: 90px;
    height: 125px;
    background-color:#e5e7ea;
}

.right-side{
    margin-left: 29px;
    float:right;
    max-width:100px;
}


