.App {
  
  display: flex;
  
}






.videoLayer {
 
  top:0px;
  
  /* border:2px solid red; */
  
}

.canvasLayer{
  /* position:absolute; */
  
  margin-left: 100px;
  border:2px solid red;
 
  
}




